nz-date-picker,
nz-select {
  display: block;
}

.form__item {
  display: inline-block;
  width: 49%;
}

.form__item:nth-of-type(even) {
  margin-left: 2%;
}

.form__item:nth-of-type(n + 3) {
  margin-top: 1rem;
}

.form__item--block {
  display: block;
  width: 100%;
  margin-top: 1rem !important;
  margin-left: 0 !important;
}

.form__item--override.form__item--block {
  margin-top: 0 !important;
  margin-bottom: 1rem;
}

#items-column {
  max-height: 77vh;
  overflow-y: auto;
}
