.money-dashboard .ant-card-head {
  background-color: #1890ff;
  color: #ffffff;
}

.investment-dashboard .ant-card-head {
  background-color: #87d068;
  color: #ffffff;
}

.rerolled-dashboard .ant-card-head {
  background-color: #13c2c2;
  color: #ffffff;
}

.withdrawn-dashboard .ant-card-head {
  background-color: #eb2f96;
  color: #ffffff;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
